
.divider {
    height: 30px;
}



header {
    height: 50px;
    width: 100%;
    padding: 10px 0px 70px 150px;
    margin-bottom: 50px;
    background-color: #333;
}

.card {
    width:28%;
    height:240px;
    text-align: center;
    background-color:whitesmoke;
    padding-top: 10px;
    padding-bottom:10px;
    margin-right: 10px;
}

#showcase-card{
    /* TODO MORE */
    width:86%;
    margin-top:20px
}


select{
    width:70%; 
}

button {
    border-radius: 10px;
    align-self: center;
    margin-top: 5px;
    height:50px;
}

#loan-button {
    width:80%;
    height: 80px;
    background-color:aquamarine;
}

#work-button {
    width:40%;
    color:white;
}

#transfer-button {
    width:40%;
}

#repay-button {
    width: 80%;
    visibility: hidden;
    background-color: green;
    color:white
}

#feature-text{
    font-size: 14px;
    line-height: 1;
    margin-left: 30px;
    text-align: start;
    word-break: break-all;
}

#computer-image {
    height: 180px;
    width: 280px;
}

li{
    list-style-type: none;
}

#buy-button {
    width:80%;
    background-color: rgb(95, 204, 255);
}